* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("image/PROD_Bengali-Food_1646032500793.jpg");
    background-size: cover;
    background-position: center;
}

.header {
    position: absolute;
    top: 10px;

}

.header p {
    font-size: 40px;
    color: #ffffff;
    font-weight: bolder;
    font-family: cursive;
    padding-bottom: 20px;
}

@media screen and (max-width : 600px) {
    .header {
        position: absolute;
        top: 0px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .header p {
        font-size: 30px;
        color: orange;
    }
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 3px solid #fff;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 35px;
    text-align: center;

}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(237, 229, 229);
    border-radius: 40px;
    font-size: 15px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;

}

.remember-forget a {
    color: #fff;
    text-decoration: none;

}

.remember-forget a:hover {
    text-decoration: underline;
    color: blue;
}

/*.wrapper .btn{
        width: 100%;
        height: 45px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgb(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: #333;
    
    }*/
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 10px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover {
    text-decoration: underline;
    color: blue;
}

.btn-field {

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.btn-field button {
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: background 1s;

}

.btn-field button.disable {
    background: #fff;
    color: black;

}